@model EditVM

@{
    ViewData["Title"] = "Destinasi Wisata | Tambah";
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Wisata</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Wisata" asp-action="DestinasiWisata">Destinasi Wisata</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edit Destinasi Wisata</h4>
                    <form asp-action="@nameof(DestinasiWisataController.Edit)" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="All" class="text-danger form-text"></div>

                            <input asp-for="@Model.Id" hidden readonly />

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.Nama" class="form-label">Nama Destinasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.Nama" class="form-control">
                                    <span asp-validation-for="@Model.Nama" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Deskripsi" class="form-label">Deskripsi<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Deskripsi" rows="5"></textarea>
                                    <span asp-validation-for="@Model.Deskripsi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Kategori" class="form-label">Kategori Destinasi<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.Kategori" class="form-control select2" data-toggle="select2">
                                        @foreach (var kategori in Enum.GetValues<KategoriDestinasi>())
                                        {
                                            <option value="@kategori">@kategori.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.Kategori" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Alamat" class="form-label">Alamat/Lokasi<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Alamat" rows="3"></textarea>
                                    <span asp-validation-for="@Model.Alamat" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-6">
                                        <label asp-for="@Model.Lat" class="form-label">Koordinat Lokasi (Lat)<span class="text-danger">*</span></label>
                                        <input type="text" asp-for="@Model.Lat" class="form-control" placeholder="Contoh : -7.915">
                                        <span asp-validation-for="@Model.Lat" class="form-text text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="@Model.Lng" class="form-label">Koordinat Lokasi (Lng)<span class="text-danger">*</span></label>
                                        <input type="text" asp-for="@Model.Lng" class="form-control" placeholder="Contoh : 110.333">
                                        <span asp-validation-for="@Model.Lng" class="form-text text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DaftarFasilitas" class="form-label">Fasilitas<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.DaftarFasilitas" id="fasilitas" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        @foreach (var fasilitas in Model.DaftarFasilitas)
                                        {
                                            <option value="@fasilitas" selected>@fasilitas</option>
                                        }
                                    </select>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#fasilitasModal">Tambah</button>
                                    <span asp-validation-for="@Model.DaftarFasilitas" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.HargaTiketMasuk" class="form-label">Harga Tiket Masuk (Rp.)<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.HargaTiketMasuk" class="form-control">
                                    <span asp-validation-for="@Model.HargaTiketMasuk" class="form-text text-danger"></span>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.JamOperasional" class="form-label">Jam Operasional<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.JamOperasional" class="form-control">
                                    <span asp-validation-for="@Model.JamOperasional" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.InformasiKontak" class="form-label">Kontak Informasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.InformasiKontak" class="form-control">
                                    <span asp-validation-for="@Model.InformasiKontak" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Foto" class="form-label">Foto/Gambar<span class="text-danger">*</span></label>
                                    <input type="file" asp-for="@Model.Foto" class="form-control">
                                    <span asp-validation-for="@Model.Foto" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Rating" class="form-label">Rating dari Pengunjung<span class="text-danger">*</span></label>
                                    <input type="text" asp-for="@Model.Rating" class="form-control">
                                    <span asp-validation-for="@Model.Rating" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.PengelolaDestinasi" class="form-label">Pengelola Destinasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.PengelolaDestinasi" class="form-control">
                                    <span asp-validation-for="@Model.PengelolaDestinasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DaftarAktivitas" class="form-label">Jenis Aktivitas<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.DaftarAktivitas" id="aktivitas" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        @foreach (var aktivitas in Model.DaftarAktivitas)
                                        {
                                            <option value="@aktivitas" selected>@aktivitas</option>
                                        }
                                    </select>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#aktivitasModal">Tambah</button>
                                    <span asp-validation-for="@Model.DaftarAktivitas" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.StatusOperasional" class="form-label">Status Operasional<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.StatusOperasional" class="form-control select2" data-toggle="select2">
                                        @foreach (var status in Enum.GetValues<StatusOperasional>())
                                        {
                                            <option value="@status">@status.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.StatusOperasional" class="form-text text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Edit Destinasi</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

<!-- Modal -->
<div class="modal fade" id="fasilitasModal" tabindex="-1" aria-labelledby="fasilitasModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="komentarModal">Daftar Fasilitas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="#">
                <div class="modal-body">
                    <label for="namaFasilitas" class="form-label">Nama Fasilitas<span class="text-danger">*</span></label>
                    <input name="namaFasilitas" required id="namaFasilitas" class="form-control" type="text" />
                </div>
                <div class="modal-footer">
                    <button type="submit" id="tambahFasilitas" class="btn btn-secondary" data-bs-dismiss="modal">Tambah</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="aktivitasModal" tabindex="-1" aria-labelledby="aktivitasModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="komentarModal">Daftar Komentar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="#">
                <div class="modal-body">
                    <label for="namaAktivitas" class="form-label">Nama Aktivitas<span class="text-danger">*</span></label>
                    <input name="namaAktivitas" required id="namaAktivitas" class="form-control" type="text" />
                </div>
                <div class="modal-footer">
                    <button type="submit" id="tambahAktivitas" class="btn btn-secondary" data-bs-dismiss="modal">Tambah</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        const selectFasilitas = $('select#fasilitas');
        const modalFasilitas = $('#fasilitasModal');
        const formTambahFasilitas = $('#fasilitasModal form');
        const inputNamaFasilitas = $('#fasilitasModal form #namaFasilitas');

        $(formTambahFasilitas).on('submit', (e) => {
            e.preventDefault();

            const namaFasilitasBaru = $(inputNamaFasilitas).val();

            if (selectFasilitas.children("option").toArray().some(x => x.value == namaFasilitasBaru))
                return;

            selectFasilitas.append(`
                    <option value="${namaFasilitasBaru}" selected>${namaFasilitasBaru}</option>`);
        });
    </script>

    <script type="text/javascript">
        const selectAktivitas = $('select#aktivitas');
        const modalAktivitas = $('#aktivitasModal');
        const formTambahAktivitas = $('#aktivitasModal form');
        const inputNamaAktivitas = $('#aktivitasModal form #namaAktivitas');

        $(formTambahAktivitas).on('submit', (e) => {
            e.preventDefault();

            const namaAktivitasBaru = $(inputNamaAktivitas).val();

            if (selectAktivitas.children("option").toArray().some(x => x.value == namaAktivitasBaru))
                return;

            selectAktivitas.append(`<option value="${namaAktivitasBaru}" selected>${namaAktivitasBaru}</option>`);
        });
    </script>
}