@model KegiatanPrimaDetailVM

@{
    ViewData["Title"] = "Edit | Kegiatan";
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Prima</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Prima" asp-action="KegiatanPrima">Kegiatan Prima</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edit Kegiatan Prima</h4>
                    <form asp-action="@nameof(PrimaController.KegiatanPrimaDetail)">
                        <div class="row">
                            <div asp-validation-summary="All" class="form-text text-danger"></div>

                            <input asp-for="@Model.Id" readonly hidden/>

                            <div class="mb-3">
                                <label asp-for="@Model.RekomendasiBerikutnya" class="form-label" style="font-weight: bold;">Rekomendasi untuk Kegiatan Berikutnya<span class="text-danger">*</span></label>
                                <textarea class="form-control" asp-for="@Model.RekomendasiBerikutnya" rows="5"></textarea>
                                <span asp-validation-for="@Model.RekomendasiBerikutnya" class="form-text text-danger"></span>
                            </div>

                            <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                <button type="submit" class="btn btn-primary" style="margin-right: 5px">Simpan</button>
                                <button type="reset" class="btn btn-danger">Batal</button>
                            </div>                           
                        </div> <!-- end row -->
                    </form>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}