@using SidDmb.Web.Models.Home

@model IndexVM

@{
    ViewData["Title"] = "Home Page";
    var cultureInfo = new CultureInfo("id-ID");
}

<!--======================================================= LANDING ==================================================-->
<header class="header">
    <div class="section__container header__container" id="home">
        <p>Bersama Membangun Desa Digital</p>
        <h1>Sistem Informasi Desa</h1>
        <h6><span>Kolaborasi Elektronik untuk Pariwisata Berkelanjutan Berbasis Kearifan Lokal</span></h6>
        <div class="tombol_home">
            <a asp-area="" asp-controller="Event" asp-action="Index" asp-fragment="Populer" class="btn">Lihat Event Terbaru</a>
        </div>
    </div>
    <div class="social-icons">
        <a href="#"><i class="ri-facebook-line"></i></a>
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-youtube-line"></i></a>
        <a href="#"><i class="ri-twitter-x-line"></i></a>
    </div>

</header>
<!--======================================================= LANDING ===================================================-->
<!--======================================================= TENTANG KUPANG =======================================================-->
<section class="section__container about__container" id="about">
    <div class="about__image">
        <img src="~/assets/map-about.jpg" alt="about" />
    </div>
    <div class="about__content">
        <p class="section__subheader">Tentang Gilangharjo</p>
        <h2 class="section__header">Selamat Datang di Gilangharjo!</h2>
        <p class="section__description">
            Desa Gilangharjo di Kapanewon Pandak, Bantul, Yogyakarta, memiliki luas 749,1 hektar dengan lanskap beragam dari
            utara ke selatan. Wilayah ini mencakup pemukiman padat, persawahan subur, dan perbukitan asri, lengkap dengan fasilitas
            umum, lokasi budaya, dan sungai kecil. Sebagian besar penduduk bekerja di sektor pertanian, perdagangan, dan pekerjaan
            informal lainnya. Kekayaan budaya dan alamnya menjadikan Gilangharjo sebagai tempat yang ideal untuk pengembangan pariwisata
            pedesaan dan agrikultur berkelanjutan.
        </p>
        <div class="about__btn">
            <a href="#map_gilangharjo" class="btn">Lihat Peta Gilangharjo</a>
        </div>
    </div>
</section>
<!--======================================================= AKHIR TENTANG KUPANG =======================================================-->
<!--======================================================= EVENT TERBARU ==================================================-->

<section class="section__container home__container">
    <div class="grup_header_button">
        <div>
            <p class="section__subheader">Eksplorasi Lokal</p>
            <h2 class="section__header">Atraksi Wisata Terpopuler</h2>
        </div>
        <div class="grup_button">
            <a asp-area="" asp-controller="Atraksi" asp-action="Index" class="btn">Lihat Semua</a>
        </div>
    </div>
    <div class="card-gallery">
        @if (Model.DestinasiWisata is not null)
        {
            <div class="cardku">
                <img src="@Model.DestinasiWisata.Foto" alt="Image 1">
                <div class="card-content">
                    <div class="category">Destinasi @Model.DestinasiWisata.Kategori.Humanize()</div>
                    <h3 class="title">@Model.DestinasiWisata.Nama</h3>
                    <p class="description">@Model.DestinasiWisata.Deskripsi</p>
                    <a asp-area="" asp-controller="Atraksi" asp-action="DetailDestinasi" asp-route-id="@Model.DestinasiWisata.Id.Value" class="read-more">Lihat Lebih Lanjut</a>
                </div>
            </div>
        }

        @if (Model.SitusBudaya is not null)
        {
            <div class="cardku">
                <img src="@Model.SitusBudaya.FotoPromosi" alt="Image 1">
                <div class="card-content">
                    <div class="category">Situs @Model.SitusBudaya.Kategori.Humanize()</div>
                    <h3 class="title">@Model.SitusBudaya.Nama</h3>
                    <p class="description">@Model.SitusBudaya.Dekripsi</p>
                    <a asp-area="" asp-controller="Atraksi" asp-action="DetailSitus" asp-route-id="@Model.SitusBudaya.Id.Value" class="read-more">Lihat Lebih Lanjut</a>
                </div>
            </div>
        }

        @if (Model.ArtefakBudaya is not null)
        {
            <div class="cardku">
                <img src="@Model.ArtefakBudaya.Foto" alt="Image 1">
                <div class="card-content">
                    <div class="category">Artefak @Model.ArtefakBudaya.Kategori.Humanize()</div>
                    <h3 class="title">@Model.ArtefakBudaya.Nama</h3>
                    <p class="description">@Model.ArtefakBudaya.Dekripsi</p>
                    <a asp-area="" asp-controller="Atraksi" asp-action="DetailArtefak" asp-route-id="@Model.ArtefakBudaya.Id.Value" class="read-more">Lihat Lebih Lanjut</a>
                </div>
            </div>
        }

        @if (Model.ProdukLokal is not null)
        {
            <div class="cardku">
                <img src="@Model.ProdukLokal.MediaPromosi" alt="Image 1">
                <div class="card-content">
                    <div class="category">Produk @Model.ProdukLokal.Kategori.Humanize()</div>
                    <h3 class="title">@Model.ProdukLokal.Nama</h3>
                    <p class="description">@Model.ProdukLokal.Dekripsi</p>
                    <a asp-area="" asp-controller="Atraksi" asp-action="DetailProdukLokal" asp-route-id="@Model.ProdukLokal.Id.Value" class="read-more">Lihat Lebih Lanjut</a>
                </div>
            </div>
        }
    </div>
</section>


<!--======================================================= EVENT TERBARU ==================================================-->
<!--======================================================= EVENT TERBARU ==================================================-->

<section class="section__container home__container">
    <div class="grup_header_button">
        <div>
            <p class="section__subheader">Update Terkini Desa</p>
            <h2 class="section__header">Berita & Event Terbaru</h2>
        </div>
        <div class="grup_button">
            <a asp-area="" asp-controller="Event" asp-action="Index" class="btn">Lihat Semua</a>
        </div>
    </div>

    <div class="berita-container">
        <div class="berita">
            @foreach (var eventX in Model.DaftarEvent)
            {
                <a asp-area="" asp-controller="Event" asp-action="Detail" asp-route-id="@eventX.Id.Value">
                    <div class="berita-card">
                        <div class="berita-image">
                            <img src="@eventX.MediaPromosi" alt="Concert Image">
                        </div>
                        <div class="grup_berita">
                            <div class="berita-date">
                                <span class="month">@cultureInfo.DateTimeFormat.GetAbbreviatedMonthName(eventX.TanggalWaktu.Month)</span>
                                <span class="day">@eventX.TanggalWaktu.Day</span>
                            </div>
                            <div class="berita-content">
                                <h3>@eventX.Nama</h3>
                                <p>@eventX.Dekripsi</p>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>


<!--======================================================= EVENT TERBARU ==================================================-->
<!--======================================================= MAP KUPANG =======================================================-->
<section class="section__container home__container" id="map_gilangharjo">
    <p class="section__subheader">Peta Daerah</p>
    <h2 class="section__header">Desa Gilangharjo</h2>
    <div class="map_gilangharjo">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44709.68957069951!2d110.28474279132516!3d-7.9143239124456555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7aff0ea8ade661%3A0x3eec593195fabc67!2sGilangharjo%2C%20Kec.%20Pandak%2C%20Kabupaten%20Bantul%2C%20Daerah%20Istimewa%20Yogyakarta!5e0!3m2!1sid!2sid!4v1734945796150!5m2!1sid!2sid"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!--======================================================= AKHIR MAP KUPANG =======================================================-->