@model EditVM

@inject IRepositoriKolaborator RepositoriKolaborator

@{
    ViewData["Title"] = "Pengelolaan Event | Edit";
    var daftarKolaborator = await RepositoriKolaborator.GetAll();
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Event</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Event" asp-action="Index">Pengelolaan Event</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edit Pengeloaan Event</h4>
                    <form asp-action="@nameof(EventController.Edit)" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="All" class="form-text text-danger"></div>

                            <input asp-for="@Model.Id" hidden readonly/>

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.Nama" class="form-label">Nama Event<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.Nama" class="form-control">
                                    <span asp-validation-for="@Model.Nama" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Dekripsi" class="form-label">Deskripsi Event<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Dekripsi" rows="5"></textarea>
                                    <span asp-validation-for="@Model.Dekripsi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Kategori" class="form-label">Kategori Event<span class="text-danger">*</span></label>
                                    <select class="form-control select2" data-toggle="select2" asp-for="@Model.Kategori">
                                        @foreach (var kategori in Enum.GetValues<KategoriEvent>())
                                        {
                                            <option value="@kategori">@kategori.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.Kategori" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalWaktu" class="form-label">Tanggal dan Waktu<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.TanggalWaktu" type="date" class="form-control">
                                    <span asp-validation-for="@Model.TanggalWaktu" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Lokasi" class="form-label">Lokasi Event<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Lokasi" rows="3"></textarea>
                                    <span asp-validation-for="@Model.Lokasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Penyelenggara" class="form-label">Penyelenggara<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.Penyelenggara" class="form-control">
                                    <span asp-validation-for="@Model.Penyelenggara" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.KontakInformasi" class="form-label">Kontak Informasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.KontakInformasi" class="form-control">
                                    <span asp-validation-for="@Model.KontakInformasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TargetPeserta" class="form-label">Target Peserta<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.TargetPeserta" class="form-control select2" data-toggle="select2">
                                        @foreach (var target in Enum.GetValues<TargetPeserta>())
                                        {
                                            <option value="@target">@target.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.TargetPeserta" class="form-text text-danger"></span>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.JumlahPesertaMaksimal" class="form-label">Jumlah Peserta Maksimal<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.JumlahPesertaMaksimal" class="form-control">
                                    <span asp-validation-for="@Model.JumlahPesertaMaksimal" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.StatusPendaftaran" class="form-label">Status Pendaftaran<span class="text-danger">*</span></label>
                                    <select class="form-control select2" data-toggle="select2" asp-for="@Model.StatusPendaftaran">
                                        @foreach (var status in Enum.GetValues<StatusPendaftaran>())
                                        {
                                            <option value="@status">@status.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.StatusPendaftaran" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Sponsor" class="form-label">Sponsor Event<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Sponsor" rows="5"></textarea>
                                    <span asp-validation-for="@Model.Sponsor" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Anggaran" class="form-label">Anggaran Event<span class="text-danger">*</span></label>
                                    <input type="text" asp-for="@Model.Anggaran" class="form-control">
                                    <span asp-validation-for="@Model.Anggaran" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DaftarKolaboratorId" class="form-label">Kolaborator Event<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.DaftarKolaboratorId" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        @foreach (var kolaborator in daftarKolaborator)
                                        {
                                            <option value="@kolaborator.Id">@kolaborator.Nama</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.DaftarKolaboratorId" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.MediaPromosi" class="form-label">Media Promosi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.MediaPromosi" class="form-control">
                                    <span asp-validation-for="@Model.MediaPromosi" class="form-text text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Edit Event</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}