@model List<Event>

@{
    ViewData["Title"] = "Pengelolaan Event";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Manajemen Event</a></li>
                        <li class="breadcrumb-item active">Pengelolaan Event</li>
                    </ol>
                </div>
                <h4 class="page-title">Pengelolaan Event</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Pengelolaan Event</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="Event" asp-action="Tambah" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Event</th>
                                <th>Nama Event</th>
                                <th>Deskripsi Event</th>
                                <th>Kategori Event</th>
                                <th>Tanggal dan Waktu</th>
                                <th>Lokasi Event</th>
                                <th>Penyelenggara</th>
                                <th>Kontak Informasi</th>
                                <th>Target Peserta</th>
                                <th>Jumlah Peserta Maksimal</th>
                                <th>Status Pendaftaran</th>
                                <th>Sponsor Event</th>
                                <th>Anggaran Event</th>
                                <th>Kolaborator Event</th>
                                <th>Media Promosi</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var eventX in Model)
                            {
                                <tr>
                                    <td>@eventX.Id.Value</td>
                                    <td>@eventX.Nama</td>
                                    <td class="text-wrap" style="min-width: 400px">@eventX.Dekripsi</td>
                                    <td>@eventX.Kategori.Humanize()</td>
                                    <td>@eventX.TanggalWaktu.ToString("yyyy-MM-dd HH:mm")</td>
                                    <td>@eventX.Lokasi</td>
                                    <td>@eventX.Penyelenggara</td>
                                    <td>@eventX.KontakInformasi</td>
                                    <td>@eventX.TargetPeserta.Humanize()</td>
                                    <td>@eventX.JumlahPesertaMaksimal</td>
                                    <td>@eventX.StatusPendaftaran.Humanize()</td>
                                    <td>@eventX.Sponsor</td>
                                    <td>@eventX.Anggaran.ToString("C2", cultureInfo)</td>
                                    <td>@string.Join(", ", eventX.DaftarKolaborator.Select(x => x.Nama))</td>
                                    <td>
                                        <a href="@eventX.MediaPromosi">@eventX.MediaPromosi</a>
                                    </td>
                                    <td>@eventX.TanggalDiinputkan.ToString("yyyy-MM-dd")</td>
                                    <td>@eventX.TanggalPembaruanData.ToString("yyyy-MM-dd")</td>
                                    <td class="table-action">
                                        <a asp-area="Dashboard" asp-controller="Event" asp-action="Edit" asp-route-id="@eventX.Id.Value" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                        <button type="button" class="action-icon" data-bs-toggle="modal" data-bs-target="#basicModal2"
                                                data-url="@Url.Action("Hapus", new { id = eventX.Id.Value })"
                                                title="Hapus">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>