@model List<KalenderAcara>

@{
    ViewData["Title"] = "Kalender Acara";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Wisata</a></li>
                        <li class="breadcrumb-item active">Kalender Acara</li>
                    </ol>
                </div>
                <h4 class="page-title">Kalender Acara</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Kalender Acara</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="KalenderAcara" asp-action="Tambah" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Acara</th>
                                <th>Nama Acara</th>
                                <th>Deskripsi Acara</th>
                                <th>Kategori Acara</th>
                                <th>Tanggal dan Waktu</th>
                                <th>Lokasi Acara</th>
                                <th>Penanggung Jawab</th>
                                <th>Kontak Informasi</th>
                                <th>Harga Tiket Acara</th>
                                <th>Target Peserta</th>
                                <th>Batas Kuota Peserta</th>
                                <th>Status Pendaftaran</th>
                                <th>Media Promosi</th>
                                <th>Sponsor Acara</th>
                                <th>Tautan Pendaftaran</th>
                                <th>Rating Acara</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kalenderAcara in Model)
                            {
                                <tr>
                                    <td>@kalenderAcara.Id.Value</td>
                                    <td>@kalenderAcara.NamaAcara</td>
                                    <td>@kalenderAcara.DekripsiAcara</td>
                                    <td>@kalenderAcara.Kategori.Humanize()</td>
                                    <td>@kalenderAcara.TanggalDanWaktu.ToString("yyyy-MM-dd HH:mm")</td>
                                    <td>@kalenderAcara.LokasiAcara</td>
                                    <td>@kalenderAcara.PenanggungJawab</td>
                                    <td>@kalenderAcara.KontakInformasi</td>
                                    <td>@kalenderAcara.HargaTiketAcara.ToString("C2", cultureInfo)</td>
                                    <td>@kalenderAcara.TargetPesertaAcara.Humanize()</td>
                                    <td>@kalenderAcara.BatasKuotaPeserta</td>
                                    <td>@kalenderAcara.StatusPendaftaran.Humanize()</td>
                                    <td><a href="@kalenderAcara.MediaPromosi">@kalenderAcara.MediaPromosi</a></td>
                                    <td>@kalenderAcara.SponsorAcara</td>
                                    <td><a href="@kalenderAcara.TautanPendaftaran">@kalenderAcara.TautanPendaftaran</a></td>
                                    <td>@kalenderAcara.RatingAcara.ToString("F1")</td>
                                    <td>@kalenderAcara.TanggalDiinputkan.ToString("yyyy-MM-dd")</td>
                                    <td>@kalenderAcara.TanggalPembaruanData.ToString("yyyy-MM-dd")</td>
                                    <td class="table-action">
                                        <a asp-area="Dashboard" asp-controller="KalenderAcara" asp-action="Edit" asp-route-id="@kalenderAcara.Id.Value" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                        <button type="button" class="action-icon" data-bs-toggle="modal" data-bs-target="#basicModal2"
                                                data-url="@Url.Action("Hapus", new { id = kalenderAcara.Id.Value })"
                                                title="Hapus">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>