@model TambahVM

@{
    ViewData["Title"] = "Kalender Acara | Tambah";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Wisata</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="KalenderAcara" asp-action="Index">Kalender Acara</a></li>
                        <li class="breadcrumb-item active">Tambah</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Tambah Kalender Acara</h4>
                    <form asp-action="@nameof(KalenderAcaraController.Tambah)" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="All" class="form-text text-danger"></div>

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.NamaAcara" class="form-label">Nama Acara<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.NamaAcara" class="form-control">
                                    <span asp-validation-for="@Model.NamaAcara" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DekripsiAcara" class="form-label">Deskripsi Acara<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.DekripsiAcara" rows="5"></textarea>
                                    <span asp-validation-for="@Model.DekripsiAcara" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Kategori" class="form-label">Kategori Acara<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.Kategori" class="form-control select2" data-toggle="select2">
                                        @foreach(var kategori in Enum.GetValues<KategoriAcara>())
                                        {
                                            <option value="@kategori">@kategori.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.Kategori" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalDanWaktu" class="form-label">Tanggal dan Waktu<span class="text-danger">*</span></label>
                                    <input class="form-control" asp-for="@Model.TanggalDanWaktu">
                                    <span asp-validation-for="@Model.TanggalDanWaktu" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.LokasiAcara" class="form-label">Lokasi Acara<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.LokasiAcara" rows="3"></textarea>
                                    <span asp-validation-for="@Model.LokasiAcara" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.PenanggungJawab" class="form-label">Penanggung Jawab<span class="text-danger">*</span></label>
                                    <input type="text" asp-for="@Model.PenanggungJawab" class="form-control">
                                    <span asp-validation-for="@Model.PenanggungJawab" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.KontakInformasi" class="form-label">Kontak Informasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.KontakInformasi" class="form-control">
                                    <span asp-validation-for="@Model.KontakInformasi" class="form-text text-danger"></span>
                                </div>

                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.HargaTiketAcara" class="form-label">Harga Tiket Acara (Rp.)<span class="text-danger">*</span></label>
                                    <input type="text" asp-for="@Model.HargaTiketAcara" class="form-control">
                                    <span asp-validation-for="@Model.HargaTiketAcara" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TargetPesertaAcara" class="form-label">Target Peserta<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.TargetPesertaAcara" class="form-control select2" data-toggle="select2">
                                        @foreach(var target in Enum.GetValues<TargetPesertaAcara>())
                                        {
                                            <option value="@target">@target.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.TargetPesertaAcara" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.BatasKuotaPeserta" class="form-label">Batas Kuota Peserta<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.BatasKuotaPeserta" class="form-control">
                                    <span asp-validation-for="@Model.BatasKuotaPeserta" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.StatusPendaftaran" class="form-label">Status Pendaftaran<span class="text-danger">*</span></label>
                                    <select class="form-control select2" data-toggle="select2" asp-for="@Model.StatusPendaftaran">
                                        @foreach(var status in Enum.GetValues<StatusPendaftaran>())
                                        {
                                            <option value="@status">@status.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.StatusPendaftaran" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.MediaPromosi" class="form-label">Media Promosi<span class="text-danger">*</span></label>
                                    <input type="file" asp-for="@Model.MediaPromosi" class="form-control">
                                    <span asp-validation-for="@Model.MediaPromosi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.SponsorAcara" class="form-label">Sponsor Acara<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.SponsorAcara" rows="3"></textarea>
                                    <span asp-validation-for="@Model.SponsorAcara" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TautanPendaftaran" class="form-label">Tautan Pendaftaran (URL)<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.TautanPendaftaran" id="simpleinput" class="form-control">
                                    <span asp-validation-for="@Model.TautanPendaftaran" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.RatingAcara" class="form-label">Rating Acara<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.RatingAcara" class="form-control">
                                    <span asp-validation-for="@Model.RatingAcara" class="form-text text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Tambah Kalender</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>

                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}