@model List<SeniBudaya>

@{
    ViewData["Title"] = "Seni Budaya";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Budaya</a></li>
                        <li class="breadcrumb-item active">Seni Budaya</li>
                    </ol>
                </div>
                <h4 class="page-title">Seni Budaya</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Seni Budaya</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="SeniBudaya" asp-action="Tambah" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Seni</th>
                                <th>Nama Seni</th>
                                <th>Deskripsi Seni</th>
                                <th>Kategori Seni</th>
                                <th>Nama Pelaku Seni</th>
                                <th>Lokasi Pertunjukan</th>
                                <th>Waktu Pertunjukan</th>
                                <th>Fasilitas Pertunjukan</th>
                                <th>Durasi Pertunjukan</th>
                                <th>Harga Tiket</th>
                                <th>Peraturan Khusus</th>
                                <th>Media Promosi</th>
                                <th>Rating dari Penonton</th>
                                <th>Komentar Penonton</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var seniBudaya in Model)
                            {
                                <tr>
                                    <td>@seniBudaya.Id.Value</td>
                                    <td>@seniBudaya.Nama</td>
                                    <td>@seniBudaya.Dekripsi</td>
                                    <td>@seniBudaya.Kategori.Humanize()</td>
                                    <td>@seniBudaya.NamaPelakuSeni</td>
                                    <td>@seniBudaya.LokasiPertunjukan</td>
                                    <td>@seniBudaya.WaktuPertunjukan</td>
                                    <td>@string.Join(", ", seniBudaya.FasilitasPertunjukan)</td>
                                    <td>@seniBudaya.DurasiPentunjukan.Humanize(culture:cultureInfo, maxUnit:TimeUnit.Hour, minUnit:TimeUnit.Minute)</td>
                                    <td>@seniBudaya.HargaTiket.ToString("C2", cultureInfo)</td>
                                    <td>@seniBudaya.PeraturanKhusus</td>
                                    <td>
                                        <a href="@seniBudaya.MediaPromosi.ToString()">@seniBudaya.MediaPromosi.ToString()</a>
                                    </td>
                                    <td>@seniBudaya.Rating.ToString("F1")</td>
                                    <td>@string.Join(", ", seniBudaya.DaftarKomentar.Select(x => x.Isi))</td>
                                    <td>@seniBudaya.TanggalDiinputkan.ToString("yyyy-MM-dd")</td>
                                    <td>@seniBudaya.TanggalPembaruanData.ToString("yyyy-MM-dd")</td>
                                    <td class="table-action">
                                        <a asp-area="Dashboard" asp-controller="SeniBudaya" asp-action="Edit" asp-route-id="@seniBudaya.Id.Value" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                        <button type="button" class="action-icon" data-bs-toggle="modal" data-bs-target="#basicModal2"
                                                data-url="@Url.Action("Hapus", new { id = seniBudaya.Id.Value })"
                                                title="Hapus">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>