@model EditVM

@inject IRepositoriDestinasiWisata RepositoriDestinasiWisata

@{
    ViewData["Title"] = "Laporan Kunjungan | Edit";
    var daftarDestinasi = await RepositoriDestinasiWisata.GetAll();
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Wisata</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Wisata" asp-action="LaporanKunjungan">Laporan Kunjungan</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edit Laporan Kunjungan</h4>
                    <form asp-action="@nameof(LaporanKunjunganController.Edit)">
                        <div class="row">
                            <div asp-validation-summary="All" class="form-text text-danger"></div>

                            <input asp-for="@Model.Id" hidden readonly />

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalKunjungan" class="form-label">Tanggal Kunjungan<span class="text-danger">*</span></label>
                                    <input class="form-control" asp-for="@Model.TanggalKunjungan">
                                    <span asp-validation-for="@Model.TanggalKunjungan" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DestinasiWisataId" class="form-label">Destinasi Wisata<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.DestinasiWisataId" class="form-control select2" data-toggle="select2">
                                        @foreach (var destinasi in daftarDestinasi)
                                        {
                                            <option value="@destinasi.Id.Value">@destinasi.Nama</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.DestinasiWisataId" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.JumlahWisatawanDomestik" class="form-label">Jumlah Wisatawan Domestik<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.JumlahWisatawanDomestik" class="form-control">
                                    <span asp-validation-for="@Model.JumlahWisatawanDomestik" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.JumlahWisatawanInternasional" class="form-label">Jumlah Wisatawan Internasional<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.JumlahWisatawanInternasional" class="form-control">
                                    <span asp-validation-for="@Model.JumlahWisatawanInternasional" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DurasiKunjungan" class="form-label">Durasi Kunjungan<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.DurasiKunjungan" class="form-control">
                                    <span asp-validation-for="@Model.DurasiKunjungan" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TiketTerjual" class="form-label">Tiket Terjual<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.TiketTerjual" type="text" class="form-control">
                                    <span asp-validation-for="@Model.TiketTerjual" class="form-text text-danger"></span>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.RatingPengunjung" class="form-label">Rating dari Pengunjung<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.RatingPengunjung" class="form-control">
                                    <span asp-validation-for="@Model.RatingPengunjung" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.KomentarPengunjung" class="form-label">Komentar Pengunjung<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.KomentarPengunjung" rows="5"></textarea>
                                    <span asp-validation-for="@Model.KomentarPengunjung" class="form-text text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Edit Laporan</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}