@model List<LaporanKunjungan>

@{
    ViewData["Title"] = "Laporan Kunjungan";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Wisata</a></li>
                        <li class="breadcrumb-item active">Laporan Kunjungan</li>
                    </ol>
                </div>
                <h4 class="page-title">Laporan Kunjungan</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Laporan Kunjungan</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="LaporanKunjungan" asp-action="Tambah" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Kunjungan</th>
                                <th>Tanggal Kunjungan</th>
                                <th>Nama Destinasi</th>
                                <th>Jumlah Wisatawan Domestik</th>
                                <th>Jumlah Wisatawan Internasional</th>
                                <th>Durasi Kunjungan</th>
                                <th>Tiket Terjual</th>
                                <th>Pendapatan Tiket</th>
                                <th>Pengelola Destinasi</th>
                                <th>Rating dari Pengunjung</th>
                                <th>Komentar Pengunjung</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var laporanKunjungan in Model)
                            {
                                <tr>
                                    <td>@laporanKunjungan.Id.Value</td>
                                    <td>@laporanKunjungan.TanggalKunjungan.ToString("yyyy-MM-dd")</td>
                                    <td>@laporanKunjungan.DestinasiWisata.Nama</td>
                                    <td>@laporanKunjungan.JumlahWisatawanDomestik</td>
                                    <td>@laporanKunjungan.JumlahWisatawanInternasional</td>
                                    <td>@laporanKunjungan.DurasiKunjungan.TotalHours.ToString("F1") Jam</td>
                                    <td>@laporanKunjungan.TiketTerjual</td>
                                    <td>@laporanKunjungan.PendapatanTiket.ToString("C2", cultureInfo)</td>
                                    <td>@laporanKunjungan.DestinasiWisata.PengelolaDestinasi</td>
                                    <td>@laporanKunjungan.RatingPengunjung</td>
                                    <td>@laporanKunjungan.KomentarPengunjung</td>
                                    <td>@laporanKunjungan.TanggalDiinputkan.ToString("yyyy-MM-dd")</td>
                                    <td>@laporanKunjungan.TanggalPembaruanData.ToString("yyyy-MM-dd")</td>
                                    <td class="table-action">
                                        <a asp-area="Dashboard" asp-controller="LaporanKunjungan" asp-action="Edit" asp-route-id="@laporanKunjungan.Id.Value" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                        <button type="button" class="action-icon" data-bs-toggle="modal" data-bs-target="#basicModal2"
                                                data-url="@Url.Action("Hapus", new { id = laporanKunjungan.Id.Value })"
                                                title="Hapus">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>