@model List<Pelatihan>

@{
    ViewData["Title"] = "Peningkatan Kapasitas | Pelatihan & Edukasi";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pelatihan & Edukasi</a></li>
                        <li class="breadcrumb-item active">Peningkatan Kapasitas</li>
                    </ol>
                </div>
                <h4 class="page-title">Peningkatan Kapasitas</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Daftar Peningkatan Kapasitas</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Pelatihan</th>
                                <th>Nama Pelatihan</th>
                                <th>Deskripsi Pelatihan</th>
                                <th>Kategori Pelatihan</th>
                                <th>Penyelenggara Pelatihan</th>
                                <th>Tanggal Pelaksanaan</th>
                                <th>Durasi Pelatihan</th>
                                <th>Lokasi Pelatihan</th>
                                <th>Target Peserta</th>
                                <th>Jumlah Peserta</th>
                                <th>Fasilitator</th>
                                <th>Materi Pelatihan</th>
                                <th>Evaluasi Peserta</th>
                                <th>Dokumen dan Media</th>
                                <th>Feedback dari Peserta</th>
                                <th>Kolaborator Pelatihan</th>
                                <th>Rekomendasi untuk Pelatihan Berikutnya</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var pelatihan in Model)
                            {
                                <tr>
                                    <td>@pelatihan.Id.Value</td>
                                    <td>@pelatihan.Nama</td>
                                    <td>@pelatihan.Dekripsi</td>
                                    <td>@pelatihan.Kategori.Humanize()</td>
                                    <td>@pelatihan.Penyelenggara</td>
                                    <td>@pelatihan.TanggalPelaksanaan.ToString("yyyy-MM-dd")</td>
                                    <td>@pelatihan.Durasi.TotalHours.ToString("F1") Jam</td>
                                    <td>@pelatihan.Lokasi</td>
                                    <td>@string.Join(", ", Enum.GetValues<TargetPeserta>().Where(x => pelatihan.TargetPeserta.HasFlag(x)).Select(x => x.Humanize()))</td>
                                    <td>@pelatihan.JumlahPeserta</td>
                                    <td>@pelatihan.Fasilitator</td>
                                    <td>@pelatihan.Materi</td>
                                    <td>@pelatihan.EvaluasiPeserta</td>
                                    <td><a href="@pelatihan.DokumenDanMedia">@pelatihan.DokumenDanMedia</a></td>
                                    <td>@pelatihan.FeedbackPeserta</td>
                                    <td>@string.Join(", ", pelatihan.DaftarKolaborator.Select(x => x.Nama))</td>
                                    <td>@string.Join(", ", pelatihan.DaftarKolaboratorPelatihan.Select(x => x.RekomendasiUntukPelatihanBerikutnya))</td>
                                    <td>@pelatihan.TanggalDiinputkan.ToString("yyyy-MM-dd")</td>
                                    <td>@pelatihan.TanggalPembaruanData.ToString("yyyy-MM-dd")</td>
                                    <td class="table-action">
                                        <a asp-area="Dashboard" asp-controller="PelatihanEdukasi" asp-action="PeningkatanEdukasiDetail" asp-route-id="@pelatihan.Id.Value" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>