@model List<Materi>

@{
    ViewData["Title"] = "Materi Edukasi & Pembelajaran";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pelatihan & Edukasi</a></li>
                        <li class="breadcrumb-item active">Materi Edukasi & Pembelajaran</li>
                    </ol>
                </div>
                <h4 class="page-title">Materi Edukasi</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Materi Edukasi & Pembelajaran</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="MateriEdukasi" asp-action="Tambah" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Materi</th>
                                <th>Judul Materi</th>
                                <th>Deskripsi Materi</th>
                                <th>Kategori Materi</th>
                                <th>Penyedia Materi</th>
                                <th>Target Audiens</th>
                                <th>Tipe Materi</th>
                                <th>Link Unduhan</th>
                                <th>Tanggal Rilis</th>
                                <th>Feedback dari Audiens</th>
                                <th>Kolaborator dalam Materi</th>
                                <th>Dokumen Pendukung</th>
                                <th>Jumlah Pengguna</th>
                                <th>Status Materi</th>
                                <th>Rekomendasi Pembaruan Materi</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(var materi in Model)
                            {
                                <tr>
                                    <td>@materi.Id.Value</td>
                                    <td>@materi.JudulMateri</td>
                                    <td>@materi.DekripsiMateri</td>
                                    <td>@materi.KategoriMateri</td>
                                    <td>@materi.PenyediaMateri</td>
                                    <td>@string.Join(", ", Enum.GetValues<TargetAudiens>().Where(x => materi.TargetAudiens.HasFlag(x)))</td>
                                    <td>@materi.TipeMateri.Humanize()</td>
                                    <td><a href="@materi.LinkUnduhan">Link Unduhan</a></td>
                                    <td>@materi.TanggalRilis.ToString("yyyy-MM-dd")</td>
                                    <td>@materi.FeedBackAudiens</td>
                                    <td>@string.Join(", ", materi.DaftarKolaborator.Select(x => x.Nama))</td>
                                    <td><a href="@materi.DokumenPendukung">@materi.DokumenPendukung</a></td>
                                    <td>@materi.JumlahPengguna</td>
                                    <td>@materi.StatusMateri.Humanize()</td>
                                    <td>@string.Join(", ", materi.DaftarKolaboratorMateri.Select(x => x.RekomendasiPembaruanMateri))</td>
                                    <td>@materi.TanggalDiinputkan.ToString("yyyy-MM-dd")</td>
                                    <td>@materi.TanggalPembaruanData.ToString("yyyy-MM-dd")</td>
                                    <td class="table-action">
                                        <a asp-area="Dashboard" asp-controller="MateriEdukasi" asp-action="Edit" asp-route-id="@materi.Id.Value" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                        <button type="button" class="action-icon" data-bs-toggle="modal" data-bs-target="#basicModal2"
                                                data-url="@Url.Action("Hapus", new { id = materi.Id.Value })"
                                                title="Hapus">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>