@using SidDmb.Domain.MasterDataFunction.ModulWisata.DestinasiWisatas
@using SidDmb.Web.Configurations
@model DestinasiWisata

@{
    ViewData["Title"] = $"{Model.Nama} | Destinasi Wisata";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="pembungkus">
    <section class="breadcumbs__container">
        <nav class="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Destinasi">Destinasi Wisata</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a href="">@Model.Nama</a></li>
            </ul>
        </nav>
    </section>

    <section class="section__container atraksi_container">
        <!-- Gambar/Foto -->
        <div class="section">
            <img src="@Model.Foto" alt="Pantai Gilang" class="main-image">
        </div>
        <!-- Kategori, Status, Judul, Deskripsi -->
        <div class="section">
            <div class="grup_kategori_status">
                <div class="kategori">
                    <p>Destinasi @Model.Kategori.Humanize()</p>
                </div>
                <div class="status">
                    <p><span class="badge" style="background-color: orange; color: white; margin-bottom: 0 !important;">@Model.StatusOperasional.Humanize()</span></p>
                </div>
            </div>
            <h2 class="judul">@Model.Nama</h2>
            <p>@Model.Deskripsi</p>
        </div>

        <!-- Informasi Detail -->
        <div class="section">
            <div class="info-grid">
                <div>
                    <strong>Pengelola:</strong>
                    <p>@Model.PengelolaDestinasi</p>
                </div>
                <div>
                    <strong>Lokasi:</strong>
                    <p>@Model.Alamat</p>
                </div>
                <div>
                    <strong>Titik Koordinat:</strong>
                    <p>@Model.TitikKoordinat.Y.ToString("F3"), @Model.TitikKoordinat.X.ToString("F3")</p>
                </div>
                <div>
                    <strong>Aktivitas:</strong>
                    <p>@string.Join(", ", Model.DaftarAktivitas)</p>
                </div>
                <div>
                    <strong>Fasilitas:</strong>
                    <p>@string.Join(", ", Model.DaftarFasilitas)</p>
                </div>
                <div>
                    <strong>Harga Tiket:</strong>
                    <p>@Model.HargaTiketMasuk.ToString("C2", cultureInfo)</p>
                </div>
                <div>
                    <strong>Jam Operasional:</strong>
                    <p>@Model.JamOperasional</p>
                </div>
                <div>
                    <strong>Kontak:</strong>
                    <p>@Model.InformasiKontak</p>
                </div>
                <div>
                    <strong>Popularitas:</strong>
                    <p>@Model.Rating.ToString("F1") ★</p>
                </div>
            </div>
        </div>

        <!-- Peta Lokasi -->
        <div class="section">
            <h2>Peta Lokasi</h2>
            <div class="map">
                <iframe src="@MapsAPIConfiguration.MapsEmbedApi($"{Model.Nama}", Model.TitikKoordinat)"
                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
</div>