@using SidDmb.Domain.MasterDataFunction.ModulBudaya.UpacaraBudayas
@model UpacaraBudaya

@{
    ViewData["Title"] = $"{Model.Nama} | Upacara Budaya";
}

<div class="pembungkus">
    <section class="breadcumbs__container ">
        <nav class="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Upacara">Upacara Budaya</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a href="">@Model.Nama</a></li>
            </ul>
        </nav>
    </section>

    <section class="section__container atraksi_container">
        <!-- Gambar/Foto -->
        <div class="section">
            <img src="@Model.MediaPromosi" alt="Pantai Gilang" class="main-image">
        </div>
        <!-- Kategori, Status, Judul, Deskripsi -->
        <div class="section">
            <div class="grup_kategori_status">
                <div class="kategori">
                    <p>Upacara @Model.Kategori.Humanize()</p>
                </div>
            </div>
            <h2 class="judul">@Model.Nama</h2>
            <p>@Model.Dekripsi</p>
        </div>

        <!-- Informasi Detail -->
        <div class="section">
            <div class="info-grid">
                <div>
                    <strong>Lokasi Pelaksanaan:</strong>
                    <p>@Model.LokasiPelaksanaan</p>
                </div>
                <div>
                    <strong>Waktu Mulai:</strong>
                    <p>@Model.WaktuPelaksanaan.ToString("yyyy-MM-dd HH:mm")</p>
                </div>
                <div>
                    <strong>Waktu Berakhir:</strong>
                    <p>@Model.WaktuPelaksanaan.Add(Model.Durasi).ToString("yyyy-MM-dd HH:mm")</p>
                </div>
                <div>
                    <strong>Durasi Upacara:</strong>
                    <p>@Model.Durasi.TotalHours.ToString("F1") Jam</p>
                </div>
                <div>
                    <strong>Pihak yang Terlibat:</strong>
                    <p>@Model.PihakTerlibat</p>
                </div>
                <div>
                    <strong>Rangkaian Acara:</strong>
                    <p>@Model.RangkaianAcara</p>
                </div>
                <div>
                    <strong>Perkiraan Jumlah Peserta:</strong>
                    <p>@Model.JumlahPeserta</p>
                </div>
                <div>
                    <strong>Fasilitas Pendukung:</strong>
                    <p>@string.Join(", ", Model.FasilitasPendukung)</p>
                </div>
                <div>
                    <strong>Rating:</strong>
                    <p>@Model.Rating.ToString("F1") ★</p>
                </div>
                <div>
                    <strong>Peraturan Khusus:</strong>
                    <p>@Model.PeraturanKhusus</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section__container komentar__container">
        <div class="grup_judul_tambah_komentar">
            <div class="d-flex" style="gap: 20px; align-items: center;">
                <h4>Komentar Pengunjung</h4>
                <p style="font-weight:500;">@Model.Rating.ToString("F1") ★ (@Model.DaftarKomentar.Count Ulasan)</p>
            </div>
            <button class="btn-komentar">Berikan Ulasan</button>
        </div>
        <div class="kumpulan_komentar">
            @foreach (var komentar in Model.DaftarKomentar)
            {
                <div class="card_komentar">
                    <div class="rating_tanggal_komentar">
                        <div class="d-flex" style="gap: 10px;">
                            <h3>@komentar.Nama</h3>
                            <p class="rating_text">@komentar.Rating.ToString("F1")/5 ★</p>
                        </div>
                        @* <h6>26 Desember 2024</h6> *@
                    </div>
                    <p>@komentar.Isi</p>
                </div>
            }
        </div>
    </section>
</div>