@using SidDmb.Domain.MasterDataFunction.ModulBudaya.SitusBudayas
@using SidDmb.Web.Configurations
@model SitusBudaya

@{
    ViewData["Title"] = $"{Model.Nama} | Situs Budaya";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="pembungkus">
    <section class="breadcumbs__container ">
        <nav class="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Situs">Situs Budaya</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a href="">@Model.Nama</a></li>
            </ul>
        </nav>
    </section>

    <section class="section__container atraksi_container">
        <!-- Gambar/Foto -->
        <div class="section">
            <img src="@Model.FotoPromosi" alt="@Model.Nama" class="main-image">
        </div>
        <!-- Kategori, Status, Judul, Deskripsi -->
        <div class="section">
            <div class="grup_kategori_status">
                <div class="kategori">
                    <p>Situs @Model.Kategori.Humanize()</p>
                </div>
                <div class="status">
                    <p><span class="badge" style="background-color: green; color: white; margin-bottom: 0 !important;">@Model.Status.Humanize()</span></p>
                </div>
            </div>
            <h2 class="judul">@Model.Nama</h2>
            <p>@Model.Dekripsi</p>
        </div>

        <!-- Informasi Detail -->
        <div class="section">
            <div class="info-grid">
                <div>
                    <strong>Alamat/Lokasi:</strong>
                    <p>@Model.Alamat</p>
                </div>
                <div>
                    <strong>Titik Koordinat:</strong>
                    <p>@Model.KoordinatLokasi.Y.ToString("F3") @Model.KoordinatLokasi.X.ToString("F3")</p>
                </div>
                <div>
                    <strong>Fasilitas:</strong>
                    <p>@string.Join(", ", Model.DaftarFasilitas)</p>
                </div>
                <div>
                    <strong>Pengelola Situs:</strong>
                    <p>@Model.PengelolaSitus</p>
                </div>
                <div>
                    <strong>Jam Operasional:</strong>
                    <p>@Model.JamOperasional</p>
                </div>
                <div>
                    <strong>Harga Tiket:</strong>
                    <p>@Model.HargaTiketMasuk.ToString("C2", cultureInfo)</p>
                </div>
                <div>
                    <strong>Popularitas:</strong>
                    <p>@Model.Rating.ToString("F1") ★</p>
                </div>
                <div>
                    <strong>Peraturan Khusus:</strong>
                    <p>@Model.PeraturanKhusus</p>
                </div>
            </div>
        </div>

        <!-- Peta Lokasi -->
        <div class="section">
            <h2>Peta Lokasi</h2>
            <div class="map">
                <iframe src="@MapsAPIConfiguration.MapsEmbedApi(Model.Nama, Model.KoordinatLokasi)"
                        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <section class="section__container komentar__container">
        <div class="grup_judul_tambah_komentar">
            <div class="d-flex" style="gap: 20px; align-items: center;">
                <h4>Komentar Pengunjung</h4>
                <p style="font-weight:500;">@Model.Rating.ToString("F1") ★ (@Model.DaftarKomentar.Count Ulasan)</p>
            </div>
        </div>
        <div class="form_komentar">
            <div class="grup_form_komentar">
                <input placeholder="Nama Anda...">
                <input placeholder="Rating Anda (0 - 5)...">
            </div>
            <textarea placeholder="Tulis komentar Anda..."></textarea>
            <div class="button">
                <button type="button">
                    Kirim
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M2 21l21-9L2 3v7l15 2-15 2v7z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="kumpulan_komentar">
            @foreach (var komentar in Model.DaftarKomentar)
            {
                <div class="card_komentar">
                    <div class="rating_tanggal_komentar">
                        <div class="d-flex" style="gap: 10px;">
                            <h3>@komentar.Nama</h3>
                            <p class="rating_text">@komentar.Rating.ToString("F1")/5 ★</p>
                        </div>
                        @* <h6>26 Desember 2024</h6> *@
                    </div>
                    <p>@komentar.Isi</p>
                </div>
            }
        </div>
    </section>
</div>