@using SidDmb.Domain.MasterDataFunction.ModulPreneur.ProdukLokals
@model ProdukLokal

@{
    ViewData["Title"] = $"{Model.Nama} | Produk/Kuliner Lokal";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="pembungkus">
    <section class="breadcumbs__container ">
        <nav class="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Atraksi" asp-action="ProdukLokal">Produk/Kuliner Lokal</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a href="">@Model.Nama</a></li>
            </ul>
        </nav>
    </section>

    <section class="section__container atraksi_container">
        <div class="col-md-4">
            <!-- Gambar/Foto -->
            <div class="section">
                <img src="@Model.MediaPromosi" alt="Pantai Gilang" class="main-image">
            </div>
        </div>
        <div class="col-md-8">
            <!-- Kategori, Status, Judul, Deskripsi -->
            <div class="section">
                <div class="grup_kategori_status">
                    <div class="kategori">
                        <p>Produk @Model.Kategori.Humanize()</p>
                    </div>
                    <div class="status">
                        <p><span class="badge" style="background-color: green; color: white;">@Model.StatusKetersediaan.Humanize()</span></p>
                    </div>
                </div>
                <h2 class="judul">@Model.Nama</h2>
                <p>@Model.Dekripsi</p>
            </div>

            <!-- Informasi Detail -->
            <div class="section">
                <div class="info-grid">
                    <div>
                        <strong>Harga Produk:</strong>
                        <p>@Model.Harga.ToString("C2", cultureInfo)</p>
                    </div>
                    <div>
                        <strong>Unit Usaha Terkait:</strong>
                        <p>@Model.UnitUsaha.Nama</p>
                    </div>
                    <div>
                        <strong>Bahan Utama:</strong>
                        <p>@Model.BahanUtama</p>
                    </div>
                    <div>
                        <strong>Tanggal Produksi Terakhir:</strong>
                        <p>@Model.TanggalProduksiTerakhir.ToString("yyyy-MM-dd")</p>
                    </div>
                    <div>
                        <strong>Tanggal Kadaluarsa:</strong>
                        <p>@Model.TanggalKadaluarsa.ToString("yyyy-MM-dd")</p>
                    </div>
                    <div>
                        <strong>Legalitas & Sertifikasi</strong>
                        <p>@Model.LegalitasDanSertifikat</p>
                    </div>
                    <div>
                        <strong>Kontak Informasi:</strong>
                        <p>@Model.KontakInformasi</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>