@using SidDmb.Domain.MasterDataFunction.ModulBudaya.SitusBudayas
@model List<SitusBudaya>

@{
    ViewData["Title"] = "Situs Budaya | Atraksi Wisata";
}

<header class="header">
    <div class="section__container header__container" id="home">
        <h1>Situs Budaya</h1>
    </div>
</header>

<section class="breadcumbs__container ">
    <nav class="breadcrumbs">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><i class="ri-arrow-right-s-line"></i></li>
            <li><a asp-area="" asp-controller="Atraksi" asp-action="Index">Atraksi Wisata</a></li>
            <li><i class="ri-arrow-right-s-line"></i></li>
            <li><a href="">Situs Budaya</a></li>
        </ul>
    </nav>
</section>

<section class="section__container situs__container">
    <p class="section__subheader">Jejak Sejarah Desa</p>
    <h2 class="section__header">Situs Budaya</h2>
    <div class="card-gallery">
        @foreach (var situs in Model)
        {
            <div class="cardku">
                <img src="@situs.FotoPromosi" alt="Image 1">
                <div class="card-content">
                    <div class="category">Situs @situs.Kategori.Humanize()</div>
                    <h3 class="title">@situs.Nama</h3>
                    <p class="description">@situs.Dekripsi</p>
                    <a asp-area="" asp-controller="Atraksi" asp-action="DetailSitus" asp-route-id="@situs.Id.Value" class="read-more">Lihat Lebih Lanjut</a>
                </div>
            </div>
        }
    </div>
</section>