@model EditVM

@inject IRepositoriKolaborator RepositoriKolaborator
@inject IRepositoriProduk RepositoriProduk

@{
    ViewData["Title"] = "Tambah | Sertifikasi & Legalitas";
    var daftarKolaborator = await RepositoriKolaborator.GetAll();
    var daftarProduk = await RepositoriProduk.GetAll();
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Produk & Inventory</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Sertifikasi" asp-action="Index">Sertifikasi & Legalitas</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edit Sertifikasi & Legalitas</h4>
                    <form asp-action="@nameof(SertifikasiController.Edit)" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="All" class="form-text text-danger"></div>

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.ProdukId" class="form-label">Nama Produk (Relasi)<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.ProdukId" class="form-control select2" data-toggle="select2">
                                        @foreach (var produk in daftarProduk)
                                        {
                                            <option value="@produk.Id.Value">@produk.Nama</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.ProdukId" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.JenisSertifikasi" class="form-label">Jenis Sertifikasi<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.JenisSertifikasi" class="form-control select2" data-toggle="select2">
                                        @foreach (var jenis in Enum.GetValues<JenisSertifikasi>())
                                        {
                                            <option value="@jenis">@jenis.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.JenisSertifikasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.NomorSertifikasi" class="form-label">Nomor Sertifikasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.NomorSertifikasi" class="form-control" autofocus>
                                    <span asp-validation-for="@Model.NomorSertifikasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalPenerbitan" class="form-label">Tanggal Penerbitan<span class="text-danger">*</span></label>
                                    <input class="form-control" type="date" asp-for="@Model.TanggalPenerbitan">
                                    <span asp-validation-for="@Model.TanggalPenerbitan" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalKadaluarsa" class="form-label">Tanggal Kadaluarsa<span class="text-danger">*</span></label>
                                    <input class="form-control" asp-for="@Model.TanggalKadaluarsa" type="date">
                                    <span asp-validation-for="@Model.TanggalKadaluarsa" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.PemberiSertifikat" class="form-label">Pemberi Sertifikasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.PemberiSertifikat" class="form-control" autofocus>
                                    <span asp-validation-for="@Model.PemberiSertifikat" class="form-text text-danger"></span>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.DokumenSertifikat" class="form-label">Dokumen Sertifikasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.DokumenSertifikat" class="form-control">
                                    <span asp-validation-for="@Model.DokumenSertifikat" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.ProsesYangDilalui" class="form-label">Proses yang Dilalui<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.ProsesYangDilalui" rows="5"></textarea>
                                    <span asp-validation-for="@Model.ProsesYangDilalui" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.StatusSertifikasi" class="form-label">Status Sertifikasi<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.StatusSertifikasi" class="form-control select2" data-toggle="select2">
                                        @foreach (var status in Enum.GetValues<StatusSertifikasi>())
                                        {
                                            <option value="@status">@status.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.StatusSertifikasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DaftarKolaboratorId" class="form-label">Pihak Kolaborator<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.DaftarKolaboratorId" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        @foreach (var kolaborator in daftarKolaborator)
                                        {
                                            <option value="@kolaborator.Id">@kolaborator.Nama</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.DaftarKolaboratorId" class="form-text text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Edit Sertifikat</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}