@model List<Sertifikasi>

@{
    ViewData["Title"] = "Sertifikasi & Legalitas | Produk & Inventory";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Produk & Inventory</a></li>
                        <li class="breadcrumb-item active">Sertifikasi & Legalitas</li>
                    </ol>
                </div>
                <h4 class="page-title">Sertifikasi & Legalitas</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daftar Sertifikasi & Legalitas</h4>
                    <div class="pb-3 pt-1">
                        <a asp-area="Dashboard" asp-controller="Sertifikasi" asp-action="Tambah" class="btn btn-primary">+ Tambah</a>
                    </div>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Sertifikasi</th>
                                <th>ID Produk</th>
                                <th>Nama Produk</th>
                                <th>Jenis Sertifikasi</th>
                                <th>Nomor Sertifikasi</th>
                                <th>Tanggal Penerbitan</th>
                                <th>Tanggal Kadaluarsa</th>
                                <th>Pemberi Sertifikasi</th>
                                <th>Dokumen Sertifikasi</th>
                                <th>Proses yang Dilalui</th>
                                <th>Status Sertifikasi</th>
                                <th>Komentar/Kebutuhan Tambahan</th>
                                <th>Pihak Kolaborator</th>
                                <th>Tanggal Input</th>
                                <th>Tanggal Pembaruan</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var sertifikasi in Model)
                            {
                                <tr>
                                    <td>@sertifikasi.Id.Value</td>
                                    <td>@sertifikasi.Produk.Id.Value</td>
                                    <td>@sertifikasi.Produk.Nama</td>
                                    <td>@sertifikasi.JenisSertifikasi.Humanize()</td>
                                    <td>@sertifikasi.NomorSertifikasi</td>
                                    <td>@sertifikasi.TanggalPenerbitan.ToString("yyyy-MM-dd")</td>
                                    <td>@sertifikasi.TanggalKadaluarsa.ToString("yyyy-MM-dd")</td>
                                    <td>@sertifikasi.PemberiSertifikat</td>
                                    <td>
                                        <a href="@sertifikasi.DokumenSertifikat">@sertifikasi.DokumenSertifikat</a>
                                    </td>
                                    <td>@sertifikasi.ProsesYangDilalui</td>
                                    <td>@sertifikasi.StatusSertifikasi.Humanize()</td>
                                    <td>@string.Join(", ", sertifikasi.DaftarKolaboratorSertifikasi.Select(x => x.Komentar))</td>
                                    <td>@string.Join(", ", sertifikasi.DaftarKolaborator.Select(x => x.Nama))</td>
                                    <td>@sertifikasi.TanggalDiinputkan.ToString("yyyy-MM-dd")</td>
                                    <td>@sertifikasi.TanggalKadaluarsa.ToString("yyyy-MM-dd")</td>
                                    <td class="table-action">
                                        <a asp-area="Dashboard" asp-controller="Sertifikasi" asp-action="Edit" asp-route-id="@sertifikasi.Id.Value" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                        <button type="button" class="action-icon" data-bs-toggle="modal" data-bs-target="#basicModal2"
                                                data-url="@Url.Action("Hapus", new { id = sertifikasi.Id.Value })"
                                                title="Hapus">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>