@model TambahVM

@inject IRepositoriKolaborator RepositoriKolaborator
@inject IRepositoriProduk RepositoriProduk

@{
    ViewData["Title"] = "Tambah | Rekomendasi & Pengembangan Produk";
    var daftarKolaborator = await RepositoriKolaborator.GetAll();
    var daftarProduk = await RepositoriProduk.GetAll();
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Research & Development</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="RekomendasiProduk" asp-action="Index">Rekomendasi & Pengembangan Produk</a></li>
                        <li class="breadcrumb-item active">Tambah</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Tambah Rekomendasi & Pengembangan Produk</h4>
                    <form asp-action="@nameof(RekomendasiProdukController.Tambah)" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="All" class="form-text text-danger"></div>

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.Judul" class="form-label">Judul Rekomendasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.Judul" class="form-control">
                                    <span asp-validation-for="@Model.Judul" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Dekripsi" class="form-label">Deskripsi Rekomendasi<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Dekripsi" rows="5"></textarea>
                                    <span asp-validation-for="@Model.Dekripsi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.ProdukId" class="form-label">Nama Produk (Relasi)<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.ProdukId" class="form-control select2" data-toggle="select2">
                                        @foreach (var produk in daftarProduk)
                                        {
                                            <option value="@produk.Id.Value">@produk.Nama</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.ProdukId" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TujuanPengembangan" class="form-label">Tujuan Pengembangan<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.TujuanPengembangan" rows="5"></textarea>
                                    <span asp-validation-for="@Model.TujuanPengembangan" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.PemberiRekomendasi" class="form-label">Pemberi Rekomendasi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.PemberiRekomendasi" class="form-control">
                                    <span asp-validation-for="@Model.PemberiRekomendasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.KategoriPengembangan" class="form-label">Kategori Pengembangan<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.KategoriPengembangan" class="form-control select2" data-toggle="select2">
                                        @foreach (var kategori in Enum.GetValues<KategoriPengembangan>())
                                        {
                                            <option value="@kategori">@kategori.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.KategoriPengembangan" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.StrategiYangDirekomendasikan" class="form-label">Strategi yang Direkomendasikan<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.StrategiYangDirekomendasikan" rows="5"></textarea>
                                    <span asp-validation-for="@Model.StrategiYangDirekomendasikan" class="form-text text-danger"></span>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.TimelineRekomendasi" class="form-label">Timeline Implementasi<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.TimelineRekomendasi" rows="5"></textarea>
                                    <span asp-validation-for="@Model.TimelineRekomendasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Anggaran" class="form-label">Anggaran yang Dibutuhkan<span class="text-danger">*</span></label>
                                    <input type="text" asp-for="@Model.Anggaran" class="form-control">
                                    <span asp-validation-for="@Model.Anggaran" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.HasilYangDiharapkan" class="form-label">Hasil yang Diharapkan<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.HasilYangDiharapkan" rows="5"></textarea>
                                    <span asp-validation-for="@Model.HasilYangDiharapkan" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DaftarKolaboratorId" class="form-label">Kolaborator dalam Pengembangan<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.DaftarKolaboratorId" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        @foreach (var kolaborator in daftarKolaborator)
                                        {
                                            <option value="@kolaborator.Id">@kolaborator.Nama</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.DaftarKolaboratorId" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.StatusImplementasi" class="form-label">Status Implementasi<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.StatusImplementasi" class="form-control select2" data-toggle="select2">
                                        @foreach (var status in Enum.GetValues<StatusImplementasi>())
                                        {
                                            <option value="@status">@status.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.StatusImplementasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DokumenPendukung" class="form-label">Dokumen Pendukung<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.DokumenPendukung" class="form-control">
                                    <span asp-validation-for="@Model.DokumenPendukung" class="form-text text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Tambah Rekomendasi</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}