@model EditVM

@inject IRepositoriKolaborator RepositoriKolaborator

@{
    ViewData["Title"] = "Tambah | Manajemen Produk";
    var daftarKolaborator = await RepositoriKolaborator.GetAll();
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Produk & Inventory</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="ManajemenProduk" asp-action="Index">Manajemen Produk</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edit Manajemen Produk</h4>
                    <form asp-action="@nameof(ManajemenProdukController.Edit)" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="All" class="form-text text-danger"></div>

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.Nama" class="form-label">Nama Produk<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.Nama" class="form-control">
                                    <span asp-validation-for="@Model.Nama"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Dekripsi" class="form-label">Deskripsi Produk<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Dekripsi" rows="5"></textarea>
                                    <span asp-validation-for="@Model.Dekripsi"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Kategori" class="form-label">Kategori Produk<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.Kategori" class="form-control select2" data-toggle="select2">
                                        @foreach (var kategori in Enum.GetValues<KategoriProduk>())
                                        {
                                            <option value="@kategori">@kategori.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.Kategori"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.UnitUsahaTerkait" class="form-label">Unit Usaha Terkait<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.UnitUsahaTerkait" class="form-control">
                                    <span asp-validation-for="@Model.UnitUsahaTerkait"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.HargaProduk" class="form-label">Harga Produk<span class="text-danger">*</span></label>
                                    <input type="text" asp-for="@Model.HargaProduk" class="form-control">
                                    <span asp-validation-for="@Model.HargaProduk"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.StokAwal" class="form-label">Stok Awal<span class="text-danger">*</span></label>
                                    <input type="number" asp-for="@Model.StokAwal" class="form-control">
                                    <span asp-validation-for="@Model.StokAwal"></span>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.StokSaatIni" class="form-label">Stok Saat Ini<span class="text-danger">*</span></label>
                                    <input type="number" asp-for="@Model.StokSaatIni" class="form-control">
                                    <span asp-validation-for="@Model.StokSaatIni"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.StatusKetersediaan" class="form-label">Status Ketersediaan<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.StatusKetersediaan" class="form-control select2" data-toggle="select2">
                                        @foreach (var status in Enum.GetValues<StatusKetersediaan>())
                                        {
                                            <option value="@status">@status.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.StatusKetersediaan"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalProduksiTerakhir" class="form-label">Tanggal Produksi Terakhir<span class="text-danger">*</span></label>
                                    <input class="form-control" asp-for="@Model.TanggalProduksiTerakhir" type="date">
                                    <span asp-validation-for="@Model.TanggalProduksiTerakhir"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalKadaluarsa" class="form-label">Tanggal Kadaluarsa<span class="text-danger">*</span></label>
                                    <input class="form-control" asp-for="@Model.TanggalKadaluarsa" type="date">
                                    <span asp-validation-for="@Model.TanggalKadaluarsa"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.MediaPromosi" class="form-label">Media Promosi<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.MediaPromosi" class="form-control">
                                    <span asp-validation-for="@Model.MediaPromosi"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DaftarKolaboratorId" class="form-label">Kolaborator<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.DaftarKolaboratorId" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        @foreach (var kolaborator in daftarKolaborator)
                                        {
                                            <option value="@kolaborator.Id">@kolaborator.Nama</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.DaftarKolaboratorId"></span>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Edit Produk</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}