@model TambahVM

@inject IRepositoriKolaborator RepositoriKolaborator

@{
    ViewData["Title"] = "Tambah | Manajemen Data Riset";
    var daftarKolaborator = await RepositoriKolaborator.GetAll();
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Research & Development</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="ManajemenDataRiset" asp-action="Index">Manajemen Data Riset</a></li>
                        <li class="breadcrumb-item active">Tambah</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Tambah Manajemen Data Riset</h4>
                    <form asp-action="@nameof(ManajemenDataRisetController.Tambah)" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="All" class="form-text text-danger"></div>

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.JudulPenelitian" class="form-label">Judul Penelitian<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.JudulPenelitian" class="form-control">
                                    <span asp-validation-for="@Model.JudulPenelitian" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DekripsiPenelitian" class="form-label">Deskripsi Penelitian<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.DekripsiPenelitian" rows="5"></textarea>
                                    <span asp-validation-for="@Model.DekripsiPenelitian" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.KategoriPenelitian" class="form-label">Kategori Penelitian<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.KategoriPenelitian" class="form-control select2" data-toggle="select2">
                                        @foreach (var kategori in Enum.GetValues<KategoriPenelitian>())
                                        {
                                            <option value="@kategori">@kategori.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.KategoriPenelitian" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.EntitasPeneliti" class="form-label">Peneliti<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.EntitasPeneliti" class="form-control">
                                    <span asp-validation-for="@Model.EntitasPeneliti" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalMulaiPenelitian" class="form-label">Tanggal Mulai Penelitian<span class="text-danger">*</span></label>
                                    <input class="form-control" asp-for="@Model.TanggalMulaiPenelitian" type="date">
                                    <span asp-validation-for="@Model.TanggalMulaiPenelitian" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalSelesaiPenelitian" class="form-label">Tanggal Selesai Penelitian<span class="text-danger">*</span></label>
                                    <input class="form-control" asp-for="@Model.TanggalSelesaiPenelitian">
                                    <span asp-validation-for="@Model.TanggalSelesaiPenelitian" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DaftarJenisDataRiset" class="form-label">Data yang Dikumpulkan<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.DaftarJenisDataRiset" id="fasilitas" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        @foreach (var jenisDataRiset in Model.DaftarJenisDataRiset)
                                        {
                                            <option value="@jenisDataRiset" selected>@jenisDataRiset</option>
                                        }
                                    </select>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#fasilitasModal">Tambah</button>
                                    <span asp-validation-for="@Model.DaftarJenisDataRiset" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.MetodePengumpulanData" class="form-label">Metode Pengumpulan Data<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.MetodePengumpulanData" rows="5"></textarea>
                                    <span asp-validation-for="@Model.MetodePengumpulanData" class="form-text text-danger"></span>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">


                                <div class="mb-3">
                                    <label asp-for="@Model.HasilPenelitian" class="form-label">Hasil Penelitian<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.HasilPenelitian" rows="5"></textarea>
                                    <span asp-validation-for="@Model.HasilPenelitian" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DokumenPenelitian" class="form-label">Dokumen Hasil Penelitian<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.DokumenPenelitian" class="form-control">
                                    <span asp-validation-for="@Model.DokumenPenelitian" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.DaftarKolaboratorId" class="form-label">Kolaborator Penelitian<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.DaftarKolaboratorId" class="select2 form-control select2-multiple" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                        @foreach (var kolaborator in daftarKolaborator)
                                        {
                                            <option value="@kolaborator.Id">@kolaborator.Nama</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.DaftarKolaboratorId" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.ManfaatPenelitian" class="form-label">Manfaat Penelitian<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.ManfaatPenelitian" rows="5"></textarea>
                                    <span asp-validation-for="@Model.ManfaatPenelitian" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.StatusPenelitian" class="form-label">Status Penelitian<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.StatusPenelitian" class="form-control select2" data-toggle="select2">
                                        @foreach (var status in Enum.GetValues<StatusPenelitian>())
                                        {
                                            <option value="@status">@status.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.StatusPenelitian" class="form-text text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Tambah Data Riset</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

<!-- Modal -->
<div class="modal fade" id="fasilitasModal" tabindex="-1" aria-labelledby="fasilitasModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="komentarModal">Daftar Komentar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="#">
                <div class="modal-body">
                    <label for="namaFasilitas" class="form-label">Jenis Data yang Dikumpulkan<span class="text-danger">*</span></label>
                    <input name="namaFasilitas" required id="namaFasilitas" class="form-control" type="text" />
                </div>
                <div class="modal-footer">
                    <button type="submit" id="tambahFasilitas" class="btn btn-secondary" data-bs-dismiss="modal">Tambah</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        const selectFasilitas = $('select#fasilitas');
        const modalFasilitas = $('#fasilitasModal');
        const formTambahFasilitas = $('#fasilitasModal form');
        const inputNamaFasilitas = $('#fasilitasModal form #namaFasilitas');

        $(formTambahFasilitas).on('submit', (e) => {
            e.preventDefault();

            const namaFasilitasBaru = $(inputNamaFasilitas).val();

            if (selectFasilitas.children("option").toArray().some(x => x.value == namaFasilitasBaru))
                return;

            selectFasilitas.append(`<option value="${namaFasilitasBaru}" selected>${namaFasilitasBaru}</option>`);
        });
    </script>
}