@model List<DataRiset>

@{
    ViewData["Title"] = "Manajemen Data Riset | Research & Development";
}

<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Research & Development</a></li>
                        <li class="breadcrumb-item active">Manajemen Data Riset</li>
                    </ol>
                </div>
                <h4 class="page-title">Manajemen Data Riset</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- start row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-3">Daftar Manajemen Data Riset</h4>
                    <table id="alternative-page-datatable" class="table dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>ID Data Riset</th>
                                <th>Judul Penelitian</th>
                                <th>Deskripsi Penelitian</th>
                                <th>Kategori Penelitian</th>
                                <th>Peneliti</th>
                                <th>Tanggal Mulai Penelitian</th>
                                <th>Tanggal Selesai Penelitian</th>
                                <th>Data yang Dikumpulkan</th>
                                <th>Metode Pengumpulan Data</th>
                                <th>Hasil Penelitian</th>
                                <th>Dokumen Hasil Penelitian</th>
                                <th>Kolaborator Penelitian</th>
                                <th>Manfaat Penelitian</th>
                                <th>Status Penelitian</th>
                                <th>Feedback dari Kolaborator</th>
                                <th>Tanggal Input Data</th>
                                <th>Tanggal Pembaruan Data</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var dataRiset in Model)
                            {
                                <tr>
                                    <td>@dataRiset.Id.Value</td>
                                    <td>@dataRiset.JudulPenelitian</td>
                                    <td>@dataRiset.DekripsiPenelitian</td>
                                    <td>@dataRiset.KategoriPenelitian.Humanize()</td>
                                    <td>@dataRiset.EntitasPeneliti</td>
                                    <td>@dataRiset.TanggalMulaiPenelitian.ToString("yyyy-MM-dd")</td>
                                    <td>@dataRiset.TanggalSelesaiPenelitian.ToString("yyyy-MM-dd")</td>
                                    <td>@string.Join(", ", dataRiset.DaftarJenisDataRiset)</td>
                                    <td>@dataRiset.MetodePengumpulanData</td>
                                    <td>@dataRiset.HasilPenelitian</td>
                                    <td>
                                        <a href="@dataRiset.DokumenPenelitian">@dataRiset.DokumenPenelitian</a>
                                    </td>
                                    <td>@string.Join(", ", dataRiset.DaftarKolaboratorPenelitian.Select(x => x.Nama))</td>
                                    <td>@dataRiset.ManfaatPenelitian</td>
                                    <td>@dataRiset.StatusPenelitian.Humanize()</td>
                                    <td>@string.Join(", ", dataRiset.DaftarKolaboratorDataRiset.Select(x => x.FeedbackKolaborator))</td>
                                    <td>@dataRiset.TanggalDiinputkan.ToString("yyyy-MM-dd")</td>
                                    <td>@dataRiset.TanggalPembaruanData.ToString("yyyy-MM-dd")</td>
                                    <td class="table-action">
                                        <a asp-area="Dashboard" asp-controller="ResearchAndDevelopment" asp-action="ManajemenDataRisetDetail" asp-route-id="@dataRiset.Id.Value" class="action-icon" data-bs-toggle="tooltip" title="Edit"> <i class="mdi mdi-pencil"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>