@model EditVM

@{
    ViewData["Title"] = "Unit Usaha | Edit";
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Preneur</a></li>
                        <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="UnitUsaha" asp-action="Index">Unit Usaha</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
                @* <h4 class="page-title">Tambah</h4> *@
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Edit Unit Usaha</h4>
                    <form asp-action="@nameof(UnitUsahaController.Edit)" enctype="multipart/form-data">
                        <div class="row">
                            <div asp-validation-summary="All" class="form-text text-danger"></div>

                            <input asp-for="@Model.Id" hidden readonly />

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.Nama" class="form-label">Nama Unit Usaha<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.Nama" class="form-control">
                                    <span asp-validation-for="@Model.Nama" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Dekripsi" class="form-label">Deskripsi Unit Usaha<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Dekripsi" rows="5"></textarea>
                                    <span asp-validation-for="@Model.Dekripsi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Kategori" class="form-label">Kategori Unit Usaha<span class="text-danger">*</span></label>
                                    <select class="form-control select2" data-toggle="select2" asp-for="@Model.Kategori">
                                        @foreach (var kategori in Enum.GetValues<KategoriUnitUsaha>())
                                        {
                                            <option value="@kategori">@kategori.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.Kategori" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Alamat" class="form-label">Alamat/Lokasi<span class="text-danger">*</span></label>
                                    <textarea class="form-control" asp-for="@Model.Alamat" rows="3"></textarea>
                                    <span asp-validation-for="@Model.Alamat" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3 row">
                                    <div class="col-md-6">
                                        <label asp-for="@Model.Lat" class="form-label">Koordinat Lokasi (Lat)<span class="text-danger">*</span></label>
                                        <input type="text" asp-for="@Model.Lat" class="form-control" placeholder="Contoh: -7.917">
                                        <span asp-validation-for="@Model.Lat" class="form-text text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="@Model.Lng" class="form-label">Koordinat Lokasi (Lng)<span class="text-danger">*</span></label>
                                        <input type="text" asp-for="@Model.Lng" class="form-control" placeholder="Contoh: 144.098">
                                        <span asp-validation-for="@Model.Lng" class="form-text text-danger"></span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.PemilikUsaha" class="form-label">Pemilik Usaha<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.PemilikUsaha" class="form-control">
                                    <span asp-validation-for="@Model.PemilikUsaha" class="form-text text-danger"></span>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.JumlahKaryawan" class="form-label">Jumlah Karyawan<span class="text-danger">*</span></label>
                                    <input asp-for="@Model.JumlahKaryawan" class="form-control">
                                    <span asp-validation-for="@Model.JumlahKaryawan" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.Legalitas" class="form-label">Legalitas Usaha<span class="text-danger">*</span></label>
                                    <select asp-for="@Model.Legalitas" class="form-control select2" data-toggle="select2">
                                        @foreach (var legalitas in Enum.GetValues<LegalitasUsaha>())
                                        {
                                            <option value="@legalitas">@legalitas.Humanize()</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.Legalitas" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.TanggalBerdiri" class="form-label">Tanggal Berdiri<span class="text-danger">*</span></label>
                                    <input class="form-control" asp-for="@Model.TanggalBerdiri" type="date">
                                    <span asp-validation-for="@Model.TanggalBerdiri" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.KontakInformasi" class="form-label">Kontak Informasi<span class="text-danger">*</span></label>
                                    <input type="text" asp-for="@Model.KontakInformasi" class="form-control">
                                    <span asp-validation-for="@Model.KontakInformasi" class="form-text text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="@Model.MediaPromosiBaru" class="form-label">Media Promosi<span class="text-danger">*</span></label>
                                    <input type="file" asp-for="@Model.MediaPromosiBaru" class="form-control">
                                    <span asp-validation-for="@Model.MediaPromosiBaru" class="form-text text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-end align-items-end mt-2 mb-3">
                                    <button type="submit" class="btn btn-primary" style="margin-right: 5px">Edit Unit</button>
                                    <button type="reset" class="btn btn-danger">Batal</button>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                    </form>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}