@using SidDmb.Domain.MasterDataFunction.ModulWisata.KalenderAcaras
@model KalenderAcara

@{
    ViewData["Title"] = $"{Model.NamaAcara} | Berita & Event";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="pembungkus">
    <section class="breadcumbs__container ">
        <nav class="breadcrumbs">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a asp-area="" asp-controller="Event" asp-action="Index">Berita & Event</a></li>
                <li><i class="ri-arrow-right-s-line"></i></li>
                <li><a href="">@Model.NamaAcara</a></li>
            </ul>
        </nav>
    </section>

    <section class="section__container atraksi_container">
        <div class="col-md-4">
            <div class="section">
                <img src="@Model.MediaPromosi" alt="@Model.NamaAcara" class="main-image">
            </div>
        </div>
        <div class="col-md-8">
            <div class="section">
                <div class="grup_kategori_status">
                    <div class="kategori">
                        <p>Event @Model.Kategori.Humanize()</p>
                    </div>
                    <div class="status">
                        <p><span class="badge" style="background-color: green; color: white;">@Model.StatusPendaftaran.Humanize()</span></p>
                    </div>
                </div>
                <h2 class="judul">@Model.NamaAcara</h2>
                <p>@Model.DekripsiAcara</p>

                <a class="" href="@Model.TautanPendaftaran">
                    Link Pendaftaran
                </a>
            </div>

            <div class="section">
                <div class="info-grid">
                    <div>
                        <strong>Target Peserta:</strong>
                        <p>@Model.TargetPesertaAcara.Humanize()</p>
                    </div>
                    <div>
                        <strong>Tanggal dan Waktu:</strong>
                        <p>@Model.TanggalDanWaktu.ToString("yyyy-MM-dd HH:mm")</p>
                    </div>
                    <div>
                        <strong>Lokasi Acara:</strong>
                        <p>@Model.LokasiAcara</p>
                    </div>
                    <div>
                        <strong>Penanggung Jawab:</strong>
                        <p>@Model.PenanggungJawab</p>
                    </div>
                    <div>
                        <strong>Kontak Informasi:</strong>
                        <p>@Model.KontakInformasi</p>
                    </div>
                    <div>
                        <strong>Harga Tiket Acara</strong>
                        <p>@Model.HargaTiketAcara.ToString("C2", cultureInfo)</p>
                    </div>
                    <div>
                        <strong>Batas Kuota Peserta:</strong>
                        <p>@Model.BatasKuotaPeserta</p>
                    </div>
                    <div>
                        <strong>Sponsor Acara:</strong>
                        <p>@Model.SponsorAcara</p>
                    </div>
                    <div>
                        <strong>Rating Acara:</strong>
                        <p>@Model.RatingAcara.ToString("F1") ★</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>