@using SidDmb.Domain.MasterDataFunction.ModulWisata.KalenderAcaras
@model List<KalenderAcara>

@{
    ViewData["Title"] = "Berita & Event";
    var cultureInfo = new CultureInfo("id-ID");
}

<header class="header">
    <div class="section__container header__container" id="home">
        <h1>Berita & Event</h1>
    </div>
</header>

<section class="breadcumbs__container ">
    <nav class="breadcrumbs">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><i class="ri-arrow-right-s-line"></i></li>
            <li><a href="">Berita & Event</a></li>
        </ul>
    </nav>
</section>

<section class="section__container eventberita__container" id="Populer">
    <p class="section__subheader">Update Terkini Desa</p>
    <h2 class="section__header">Berita & Event</h2>
    <p class="section__description">Temukan informasi terbaru tentang acara dan kegiatan yang berlangsung di Desa Gilangharjo.</p>
    <div class="event__container">
        <div class="col-12">
            <div class="swip">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->

                        @foreach (var acara in Model)
                        {
                            <div class="swiper-slide">
                                <a asp-area="" asp-controller="Event" asp-action="Detail" asp-route-id="@acara.Id.Value">
                                    <div class="news-item">
                                        <img src="@acara.MediaPromosi" alt="News Image 1">
                                        <div class="news-content">
                                            <p class="kategori">Event @acara.Kategori.Humanize()</p>

                                            <h3>@acara.NamaAcara</h3>
                                            <div class="status">
                                                <p><span class="badge" style="background-color: green; color: white;">@acara.StatusPendaftaran.Humanize()</span></p>
                                            </div>
                                            <p>@acara.TanggalDanWaktu.ToString("dd MMMM yyyy", cultureInfo)</p>
                                            <p class="deskripsi">@acara.DekripsiAcara</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="grup_kalender_berita">
        <div class="col-md-8">
            <div class="berita-container">
                <div class="berita">
                    @foreach (var acara in Model)
                    {
                        <a asp-area="" asp-controller="Event" asp-action="Detail" asp-route-id="@acara.Id.Value">
                            <div class="berita-card">
                                <div class="berita-image">
                                    <img src="@acara.MediaPromosi" alt="Concert Image">
                                </div>
                                <div class="grup_berita">
                                    <div class="berita-date">
                                        <span class="month">@cultureInfo.DateTimeFormat.GetAbbreviatedMonthName(acara.TanggalDanWaktu.Month)</span>
                                        <span class="day">@acara.TanggalDanWaktu.Day</span>
                                    </div>
                                    <div class="berita-content">
                                        <h3>@acara.NamaAcara</h3>
                                        <p>@acara.DekripsiAcara</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stik">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var swiper = new Swiper('.swiper-container', {
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                slidesPerView: 1,
                spaceBetween: 30,
                breakpoints: {
                    640: {
                        slidesPerView: 1,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 30,
                    },
                    1024: {
                        slidesPerView: 1,
                        spaceBetween: 100,
                    },
                }
            });
        });
    </script>
}